 
body {
	font-size: 20px;
	font-family: 'Proxima Nova',  sans-serif;
	text-align: center;
}

h1 {

	font-family: 'Amatic SC', cursive;
	font-size: 5em;

}

h2 {
	font-family: 'Handlee', cursive;
}

@media (max-width: 576px) { 
	
	body{
		font-size: 15px;
	}

	#main-header {
		max-height: 300px;
		background-size: contain;
		max-width: 100vw;
	}

	.imgs {
		display: none;
	}

	.step-2 {
	
	box-shadow: 0 14px 24px 0 rgba(50,48,58,.25);
	border-radius: 6px;
	width: 100%;
	height: 180px;
	background-size: cover;

	}
	
	#header_ {
		max-height: 300px;
	}

	#map {
	border-radius: 6px;
	height: 300px;
	width: 90vw;
	box-shadow: 0 14px 24px rgba(50,48,58,.25);
	display: inline-block;
	box-sizing: border-box;
}
 }

.titulo {
	position: relative;
	top: -400px;
	z-index: 10;
	color: #fff;
}
.container {
	max-width: 960px;
	box-sizing: border-box;
	padding: 15px;
	text-align: center;

}

.navbar	{
	background: 0 0;
	z-index:20;
	position: fixed;
	width: 100vw;

}

.navbar:hover {
	background-color: #eee;
}

#main-header {
	max-width: 100%;
	height: 650px;
	background-position: center;
/*	background: url(../images/original.jpg)
*/
}

#main-header .flexslider .slides img {
     max-width: 100%; 
     height: 650px; 
     display: block;
}

.element .flexslider .slides img {
     width: 100%; 
     height: 400px; 
     display: block;
}
#header_ { 
	max-width: 100%;
	height: 500px;
	margin:auto;
	background-size: cover;
	color: #fff;
	font-weight: bold;
	background-position: 0 0, 15px 15px;padding: 10px;
	opacity: 0.8;
	width: 100%;
	min-height: 50px;

}

#header_ h1 {
	font-size: 4em;
	padding: 100px 0 50px 0;
}


#lugares {
	margin: 100px 0;
}

#lugares .container {
	border-bottom: 1px solid #e8eaed;
	padding: 60px 0;
	max-width:960px;
	box-sizing: border-box;

}

.header-food {
	background-image: url(../images/HIGH9836_830613.jpg);
}

.header-ent {
	background-image: url(../images/header_park.jpg)
}

.header-shop {
	background-image: url(../images/shop.jpg)
}

#img1 {
	background-image: url(../images/565256_442792.jpg);
}
#img2 {
	background-image: url(../images/parque-Alameda-2.jpg);
}
#img3 {
	background-image: url(../images/owurghvdsou.jpg);
}

#img4 {
	background-image: url(../images/Cafee.png);
}

#img5 {
	background-image: url(../images/bar-balada.jpg);
}
#img6 {
	background-image: url(../images/ufncskjd3.jpg);
}
#img7 {
	background-image: url(../images/images.jpg);
}
#img8 {
	background-image: url(../images/m_coronel.jpg);
}
#img9 {
	background-image: url(../images/HATILLO.jpg);
}


li {
	font-size: 1em;
	font-weight: 300;
}

#img-container {
	max-width: 100%;
	max-height: 400px;

}

.row {
	
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	box-sizing: border-box;
}


.custom-1 {
	height: 50%;
	width: 280px;
	left: 0;
	position: absolute;
	top: 50%;
	-webkit-box-shadow: 0 14px 24px rgba(50,48,58,.25);
	box-shadow: 0 14px 24px rgba(50,48,58,.25);
	margin-top: -105px;
	border-radius: 6px;
	background-size: contain;
}

.custom-2 {
	height: 50%;
	width: 280px;
	right: 0;
	position: absolute;
	top: 50%;
	-webkit-box-shadow: 0 14px 24px rgba(50,48,58,.25);
	box-shadow: 0 14px 24px rgba(50,48,58,.25);
	margin-top: -105px;
	border-radius: 6px;
	background-size: contain;
}

.custom-3 {
	height: 100%;
	width: 380px;
	position: relative;
	z-index: 2;
	-webkit-box-shadow: 0 14px 24px rgba(50,48,58,.25);
	box-shadow: 0 14px 24px rgba(50,48,58,.25);
	display: inline-block;
	text-align: center;
	border-radius: 6px;
	background-size: contain;
}

.service {
	background-image: linear-gradient(141deg,#164059 0,#567D8C 27%,#567D8C 52%,#567D8C 73%,#9FAFF2 100%);
	padding-bottom: 70px;
	position: relative;
	color: #fff;
}
.serv {
	padding: 70px 0;
}

#content {
	padding: 120px 0 60px 0;
}

.container {

	padding: 60px 0;
	max-width:960px;
	box-sizing: border-box;
	
}
.col-md-4 {
	padding: 0;
}

@media(min-width: 576px){
	.step-1 {
	
	box-shadow: 0 14px 24px 0 rgba(50,48,58,.25);
	border-radius: 6px;
	width: 340px;
	height: 310px;
	background-size: contain;
}

.step-2 {
	
	box-shadow: 0 14px 24px 0 rgba(50,48,58,.25);
	border-radius: 6px;
	width: 180px;
	height: 180px;
	background-size: contain;
	position: absolute;
	transform: translate(200px,-150px);
	opacity: 1;
}

#map {
	border-radius: 6px;
	height: 500px;
	width: 800px;
	box-shadow: 0 14px 24px rgba(50,48,58,.25);
	display: inline-block;
	box-sizing: border-box;
}

.sticky {
	position: sticky;
	left: 50px;
	top: 150px;
	z-index: 2;
}


}

.imgs{
	height: 380px;
	position: relative;
	margin-bottom: 70px;
	border-radius: 8px;

	
}

.img1 {
	background-image: url(../images/565256_442792.jpg);
}
.img2 {
	background-image: url(../images/rest.jpg);
}
.img3 {
	background-image: url(../images/parque-Alameda-2.jpg);
}

.img4 {
	background-image: url(../images/imageggs.jpg);
}

.img5 {
	background-image: url(../images/bar-balada.jpg);
}
.img6 {
	background-image: url(../images/ufncskjd3.jpg);
}
.img7 {
	background-image: url(../images/shopping.jpg);
}
.img8 {
	background-image: url(../images/m_coronel.jpg);
}
.img9 {
	background-image: url(../images/HATILLO.jpg);
}
.img-all {

	height: 200px;
	color: #fff;
	background-size: contain;
	opacity: 0.7;
}

.img-all:hover {
	 margin: 0;
	 height: 110%;
	 box-shadow: 0 14px 24px rgba(50,48,58,.25);
		opacity: 1;
		width: 110%
}

.img-all a {

	margin: 0;
	font-size: 1.2em;
	position: relative;
	top: 40%;
	text-shadow: 07 1px 0 rgba(22,14,38,.85);
	font-weight: 600;
	color: #fff;
}

.img-all p {
	display: none;
	text-shadow: 0 1px 0 rgba(22,14,38,.85);
}

.img-all:hover p {
	display: block;
	position: relative;
	top: 40%;

}



#mapa {
	/*background: linear-gradient(141deg,#B9BEBF 0,#9EA4A6 27%,#9EA4A6 52%,#B9BEBF 73%,#D9D9D9 100%);*/
	background: #f8f9fa;
	padding-bottom: 70px;
	position: relative;


}

#detalle {
	/*background-image: linear-gradient(137deg,#4E7273 0,#A1BEB4 27%,#A1BEB4 52%,#A1BEB4 73%,#4E7273 100%);*/
	background: #f8f9fa;
	padding-bottom: 70px;
	position: relative;

	padding-top: 20px;

}




.tabs {
	position: relative;
	display: inline-block;
	line-height: 72px;
	margin-top: -25px;
	height: 72px;
	left: 30px;
	border-radius: 48px;
	background: #DBCEC6;
	-webkit-box-shadow: 0 14px 24px 0 rgba(50,49,58,.25);
	box-shadow: 0 14px 24px 0 rgba(50,49,58,.25);	
	vertical-align: middle;
	cursor: pointer;
}



.nav-pills .pillmapa .nav-link {
    background: #DBCEC6;
	height: 72px;
	border-radius: 48px;
}

.nav-pills .pilldetalle .nav-link {
     background: #DBCEC6;
	height: 72px;
	border-radius: 48px;
}



#mapa h2 {
	font-size: 2em;
	
}
#mapa ul {
	list-style-type: none;
	display: flex;
	justify-content: space-between;
}


.tipo {

	width: 200px;
	height: 200px;
	border-radius: 50%;

}

.tipo:hover {
	box-shadow: 0 14px 24px rgba(50,48,58,.25);
}



#mapa ul {
	font-size: 2em;
	font-weight: 600;
}

.row {
	
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin: 0;
	box-sizing: border-box;
}

.element {
	height: 500px;
	border-radius: 6px;
	background-color: #fff;
	width: 90%;
	color:#000;



}
.element:hover  {
	height: 500px;	
	border-radius: 6px;	
	box-shadow: 0 14px 24px rgba(50,48,58,.25);
}




footer {
	background: #32313a;
	width: 100%;
	padding: 47px 0;
	z-index: 9;
	position: relative;
	color: #fff;
}